@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name"viaport" content="width=device-width" />
    <title>Index2</title>
    <link href="lib/bootstrap/dist/css/bootstrap.min.css"
</head>
<body>
    Hello View
</body>
</html>